@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media all and (max-width: 600px) {
  html {
    /* 1rem = 9px */
    font-size: 56.25%;
  }
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-size: 16px !important;
}

/* toatisfy styles */
.Toastify__toast {
  width: 30rem;
  font-size: 1.6rem;

  @media all and (max-width: 700px) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
}

.Toastify__toast-theme--light {
  color: black !important;
}
